.panel{

  label{
    margin-bottom:10px;
  }

  img{
    width:95%;
    align-self: center;
  }

  .button-group{
    display:flex;
    flex-flow: column;
    align-self: center;

    button{
      margin-bottom: 10px;
    }
  }

  .hint{
    align-self: center;
    font-size:.8em;
  }
}

input{
  background-color: #fff!important;
}