
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.panel{  
  width:50%;
  background-color: #f7f7f7;
  border: 1px solid lightslategray;
  border-radius: 10px;
  min-height: 50px;  
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;  
  padding: 10px;
  display:flex;
  flex-flow:column;
  justify-content: center;

  a{    
    align-self: flex-start;
  }
}

.panel:last-of-type{
  margin-bottom:20%;
}